[submodule "cursorless-talon"]
	path = cursorless-talon
	url = https://github.com/cursorless-dev/cursorless-talon.git
[submodule "rango-talon"]
	path = rango-talon
	url = https://github.com/david-tejada/rango-talon
